* {
  color: #ff0000;
  font-family: Arial;
}

h1 {
  font-size: 60px;
}

p {
  color: #0000ff;
  font-size:30px;
  font-weight: bold;
}

p.underline {
  color:#00dd00;
  text-decoration: underline;
}
